{% extends 'base.html.twig' %}

{% block title %} Quotable
{% endblock %}

{% block body %}
	

   <div id="quote">
           <div class="card-body">
               <p class="card-text">{{data.content}}</p>
               <h3 class="text-secondary mx-2">{{ data.author }}</h3>
           </div>
    </div>
{% endblock %}
